@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /*Default Font Family, Sizing, Weight, Height, Smoothing and etc.*/
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color-scheme: light;
    color: #000; /*Adjusts site-wide default font color*/
    background-color: #fff; /*Adjusts site-wide default background color*/
  }
}
